.category-list-home{
    li{
        border-color: rgb(243, 243, 243) !important;
        line-height: 35px;
        img{
            width: 25px;
            display: inline-block;
        }
        a{
            display: inline-block;
            color: gray;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 15px;
            transition: .3s;
            &:hover{
                color: black;
            }
        }
    }
}