.homenews-letter {
  overflow: hidden;
  border-radius: 8px;
  padding: 100px 107px 85px;
  .news-letter-content {
    h4 {
      font-size: 35px;
      line-height: 55px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    form {
      position: relative;
      input {
        padding-left: 50px;
        width: 350px;
      }
      i {
        position: absolute;
        left: 25px;
        top: 50%;
      }
    }
  }
}

@media (max-width: 772px) {
  .homenews-letter {
    padding: 80px 25px 50px;
    .news-letter-content {
      input {
        padding-left: 50px;
        width: 225px !important;
      }
      button {
        padding: 10px 15px !important;
      }
    }
  }
}
