.select-color{
    .color{
        cursor: pointer;
        padding: 5.5px;
    }
    .selected{
        outline-width: 2px;
        outline-style: solid;
        outline-color: var(--color-option-select);
        outline-offset: 4px;
    }
}