.my-costum-breadcrumb{
    margin-top: 15px;
    h2{
        color: rgb(73, 73, 73);
    }
    .breadcrumb{
        a{
            font-size: 16px;
            color: gray;
        }
    }
    .breadcrumbsactive{
        a{

            color: #0b41a5 !important;
            font-size: 16px !important;
        }
    }
}